@import "normalize.css";
@import "slider.css";
@import "feedback.css";

@font-face {
  font-family: 'csnpwdt';
  src: url(../font/csnpwdt.otf);
  src: url(../font/csnpwdt.ttf);
}

@font-face {
  font-family: 'Raleway';
  src: url(../font/Raleway-Regular.ttf);
}

html {
  font-family: 'Raleway', 'Open Sans', sans-serif;
  font-size: 16px;
  min-height: 100%;
  position: relative;
  scroll-behavior: smooth;
}

audio,
button:focus,
summary,
video {
  outline: 0;
}

body {
  background-color: #292929;
}

h1 {
  color: #ff6200;
  text-align: left;
}

header,
footer {
  background-color: #000;
  box-sizing: border-box;
  height:60px;
  width: 100%;
}

header {
  display: flex;
  padding: 0 20px;
}

figcaption {
  display: none;
}

footer {
  align-items: center;
  bottom: 0;
  color: #ff6200;
  display: flex;
  justify-content: flex-start;
  left: 0;
  padding-left: 20px;
  position: absolute;
}

main {
  color: rosybrown;
  padding-bottom: 60px;
}

mark {
  background-color: #ff6200;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid rosybrown;
  color: black;
  padding:10px;
  text-align: center;
  vertical-align: middle;
}

th {
  background-color: #ff6200;
}

tr:nth-child(odd) {
  background-color: #ff9c5e;
}

tr:nth-child(even) {
  background-color: #ffbd94;
}

.block {
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
  line-height: 1.5;
  padding: 0 20px;
  text-align: justify;
}

.block__main {
  padding-right: 40px;
  width: 70%;
}

.block__side {
  width: 30%;
}

.block__side-facts {
  list-style-type: none;
  margin: 0;
  padding-left: 30px;
}

.block__side-facts i {
  color: #ff6200;
}

.block__side-facts li {
  padding-bottom: 20px;
  position: relative;
}

.block__videos,
.block__audios {
  display: flex;
}

.block__audios div {
  width: 50%;
}

.block__audios div:first-child {
  margin-right: 20px;
}

.block__audios audio {
  width: 100%;
}

.block__videos-video {
  margin-right: 20px;
  width: 50%;
}

.block__videos-embed {
  width: 50%;
}

.block__videos-embed embed {
  height: 100%;
  width: 100%;
}

.block__videos-video video {
  height: 100%;
  margin-right: 20px;
  width: 100%;
}

.fact-text::before {
  content: "..."
}

.header__name {
  align-items: center;
  color: #ff6200;
  display: flex;
  font-family: 'csnpwdt', 'Open Sans', sans-serif;
  font-size: 40px;
}

.header__menu {
  padding: 0 20px;
}

.header__menu ul {
  align-items: center;
  display: flex;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__menu li {
  align-items: center;
  color: #ff6200;
  cursor: pointer;
  display: flex;
  font-size: 22px;
  height: 100%;
  padding: 0 20px;
}

.header__menu li:hover,
.header__mobile-dropdown li:hover {
  background-color: #ff6200;
}

.header__menu li a,
.header__mobile-dropdown li a {
  align-items: center;
  color: #ff6200;
  display: flex;
  height: 100%;
  justify-content: center;
  text-decoration: none;
  width: 100%;
}

.header__menu li:hover a,
.header__mobile-dropdown li:hover a {
  color: #000;
}

.header__mobile-menu {
  cursor: pointer;
  display: none;
  margin-right: 20px;
}

.header__mobile-menu svg {
  fill: #ff6200;
}

.header__mobile-dropdown {
  background-color: black;
  display: none;
  left: 0;
  min-width: 250px;
  position: absolute;
  top: 60px;
  z-index: 9999;
}

.header__mobile-dropdown ul {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__mobile-dropdown li {
  color: #ff6200;
  cursor: pointer;
  font-size: 22px;
  height: 65px;
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: 880px) {
  .block {
    flex-direction: column;
  }

  .block__side {
    width: 100%
  }

  .block__main {
    padding-right: 0;
    width: 100%;
  }

  .block__videos,
  .block__audios {
    flex-direction: column;
  }

  .block__videos-video,
  .block__videos-embed,
  .block__audios div {
    width: 100%;
  }

  .header__menu {
    display: none;
  }

  .header__mobile-menu {
    align-items: center;
    display: flex;
  }
}
