.slider {
  max-height:600px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider__item {
  left: 0;
  top: 0;
  width: 100%;
}

.slider__item--new {
  left: -1920px;
  position: absolute;
}

.slider__item img {
  max-height: 100%;
  width:100%;
}
